@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0; text-decoration:none; list-style:none; font-family:"微软雅黑", "宋体", "黑体"; font-weight:normal;}
.header{width:100%; height:160px; min-width:1200px;}
.box{width:100%; height:60px; background-color:#eee;}
.title{width:1200px; height:60px; margin:0 auto; overflow:hidden; min-width:1200px;}
.images01{width:24px; height:24px; margin-top:18px; float:left;}
.title>a>p{ font-size:16px; color:#000; float:left; line-height:60px; margin-left:20px;}
.title>a>div{font-size:16px; color:#000; float:left; line-height:60px; margin-left:10px;}
.title>a>p>img{float:left;margin-top:22px; margin-right:6px;}
.title span{margin-left:600px;}
.title>a>div:hover{color:#fe294d;}
.title>a>p:hover{color:#fe294d;}
.logoCon{width:1200px; height:109px; margin:0 auto; min-width:1200px; border-bottom:1px solid #eee;}
.logoCon img{width:184px; height:62px; margin-top:20px; float:left;}
#search{width:400px; height:38px; border:1px solid #fe294d; font-size:14px; padding-left:10px; margin-top:40px; margin-left:400px; vertical-align:middle; font-family:"微软雅黑", "宋体", "黑体";}
#souSuo{width:60px; height:40px; background:#fe294d; color:#fff; border:none; font-size:14px; margin-top:40px;  vertical-align:middle; font-family:"微软雅黑", "宋体", "黑体"}
/*******content***********************/
.words01{width:1200px; height:89px; margin:0 auto; min-width:1200px; border-bottom:1px solid #eee; overflow:hidden;}
.words01>.wordsCon01>a{width:140px; height:40px; background:#000; color:#fff; text-align:center; line-height:40px; margin-left:30px; margin-top:24px; float:left; font-size:16px;}
.words01>a>p{ font-size:16px; color:#1a1a1a; margin-left:40px; float:left; margin-top:34px;}
.words02{width:1200px; height:79px; border-bottom:1px solid #eee; overflow:hidden; margin:0 auto;}
.words02>input{margin-top:30px; margin-left:30px; float:left;}
.words02>span{ font-size:16px; color:#1a1a1a; margin-left:6px; margin-top:24px; float:left;}
.words02>p{font-size:16px; color:#1a1a1a; margin-top:24px; float:left; margin-left:100px;}
.words02>h1{font-size:16px; color:#1a1a1a; margin-top:24px; float:left; margin-left:500px;}
.words02>h2{font-size:16px; color:#1a1a1a; margin-top:24px; float:left; margin-left:60px;}
.words02>h3{font-size:16px; color:#1a1a1a; margin-top:24px; float:left; margin-left:60px;}
.words02>h4{font-size:16px; color:#1a1a1a; margin-top:24px; float:left; margin-left:60px;}
/****container01********/
.img{width:1200px; margin:0 auto; margin-top:10px;}
.images{width:1100px; margin-left:60px;}
.images>.title01{overflow:hidden;}
.dot1{ float:left; margin-top:6px;}
.dot2{ float:left; margin-top:6px;}
.images>.title01 span{ font-size:14px; color:#1a1a1a; margin-left:6px; float:left;}
.images>.title01>img{width:20px; height:20px; float:left; margin-left:8px;}
.images>.pic01{ width:1098px; height:118px; background-color:#f5f5f5; border:1px solid #eee; overflow:hidden; margin-top:10px;}
.images>.pic01>.dot{ float:left; margin-left:20px; margin-top:20px;}
.images>.pic01>img{width:80px; height:80px; float:left; margin-left:10px; margin-top:20px;}
.images>.pic01 span{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:30px; float:left;}
.images>.pic01>h1{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:120px; float:left;}
.images>.pic01>h2{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:10px; float:left;}
.images>.pic01>h3{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:60px; float:left;}
.images>.pic01>.num_down{font-size:14px; color:#666; float:left; margin-left:10px; cursor:pointer; margin-top:36px; margin-left:40px;}
.images>.pic01>.num_up{font-size:14px; color:#666; float:left; margin-left:10px; cursor:pointer; margin-top:36px; margin-left:10px;}
.images>.pic01>input{width:24px; height:16px; float:left; text-align:center; margin-top:36px; margin-left:10px;}
.images>.pic01>h4{ font-size:16px; float:left; margin-top:36px; margin-left:24px; color:#f00;}
.images>.pic01>p{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:46px; float:left;}
.images p:hover{ color:#fe294d;  cursor:pointer;}
/*******02***********/
#showAddress{
	position:fixed;
	top:100px;
	left:70px;
	border:1px solid black;
	width:1210px;
	background-color:white;	
	visibility: hidden;
	overflow: hidden;
}

.dtitle{
	width:100%;
}

#showAddress .back{
	width:50px;
	height:30px;
	margin-top:50px;
	margin-left:530px;
	border-radius: 10px;
	background-color:rgb(81, 130, 187);
	padding:0px;
}
.dtitle tr{
border-width: 1px;
border-style: solid;
border-color: rgb(81, 130, 187);
}
.dtitle th {
	padding: 5px 10px;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(81, 130, 187);
	background-color: rgb(81, 130, 187);
	color: #fff;
	border-bottom-width: 0;
 }
.dtitle td {
  	width:60px;
 	color: #000;
 	padding: 5px 10px;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
}

.images>.title02{overflow:hidden; margin-top:40px;}
.images>.title02>.dot{ float:left; margin-top:6px;}
.images>.title02 span{ font-size:14px; color:#1a1a1a; margin-left:6px; float:left;}
.images>.title02>img{width:20px; height:20px; float:left; margin-left:8px;}
.images>.pic02{ width:1098px; height:118px; background-color:#f5f5f5; border:1px solid #eee; overflow:hidden; margin-top:10px;}
.images>.pic02>.dot{ float:left; margin-left:20px; margin-top:20px;}
.images>.pic02>img{width:80px; height:80px; float:left; margin-left:10px; margin-top:20px;}
.images>.pic02 span{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:30px; float:left;}
.images>.pic02>h1{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:140px; float:left;}
.images>.pic02>h2{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:10px; float:left;}
.images>.pic02>h3{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:60px; float:left;}
.images>.pic02>.num_down{font-size:14px; color:#666; float:left; margin-left:10px; cursor:pointer; margin-top:36px; margin-left:46px;}
.images>.pic02>.num_up{font-size:14px; color:#666; float:left; margin-left:10px; cursor:pointer; margin-top:36px; margin-left:10px;}
.images>.pic02>input{width:24px; height:16px; float:left; text-align:center; margin-top:36px; margin-left:10px;}
.images>.pic02>h4{ font-size:16px; float:left; margin-top:36px; margin-left:24px; color:#f00;}
.images>.pic02>p{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:46px; float:left; }
/*******03**********/
.images>.title03{overflow:hidden; margin-top:40px;}
.images>.title03>.dot{ float:left; margin-top:6px;}
.images>.title03 span{ font-size:14px; color:#1a1a1a; margin-left:6px; float:left;}
.images>.title03>img{width:20px; height:20px; float:left; margin-left:8px;}
.images>.pic03{ width:1098px; height:118px; background-color:#f5f5f5; border:1px solid #eee; overflow:hidden; margin-top:10px;}
.images>.pic03>.dot{ float:left; margin-left:20px; margin-top:20px;}
.images>.pic03>img{width:80px; height:80px; float:left; margin-left:10px; margin-top:20px;}
.images>.pic03 span{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:30px; float:left;}
.images>.pic03>h1{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:130px; float:left;}
.images>.pic03>h2{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:10px; float:left;}
.images>.pic03>h3{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:60px; float:left;}
.images>.pic03>.num_down{font-size:14px; color:#666; float:left; margin-left:10px; cursor:pointer; margin-top:36px; margin-left:40px;}
.images>.pic03>.num_up{font-size:14px; color:#666; float:left; margin-left:10px; cursor:pointer; margin-top:36px; margin-left:10px;}
.images>.pic03>input{width:24px; height:16px; float:left; text-align:center; margin-top:36px; margin-left:10px;}
.images>.pic03>h4{ font-size:16px; float:left; margin-top:36px; margin-left:24px; color:#f00;}
.images>.pic03>p{ font-size:12px; font-family:"宋体", "黑体", "微软雅黑"; margin-top:40px; margin-left:46px; float:left;}
.words03{width:1200px; height:59px; border-top:1px solid #eee; overflow:hidden; margin:0 auto; margin-top:40px;}
.words03{width:1200px; height:59px; border-top:1px solid #eee; overflow:hidden; margin:0 auto; margin-top:40px;}
.words03{width:1200px; height:59px; border-top:1px solid #eee; overflow:hidden; margin:0 auto; margin-top:40px;}
.words03>.dot2{margin-top:30px; margin-left:30px; float:left;}
.words03>span{ font-size:16px; color:#1a1a1a; margin-left:6px; margin-top:24px; float:left;}
.words03>p{font-size:16px; color:#1a1a1a; margin-top:24px; float:left; margin-left:40px;}
.words03>p:hover{ color:#fe294d;  cursor:pointer;}
.words03>h1{font-size:16px; color:#1a1a1a; margin-top:24px; float:left; margin-left:560px;}
.words03>h1>span{font-size:16px; color:#fe294d;}
.words03>h2{font-size:16px; color:#1a1a1a; margin-top:24px; float:left; margin-left:40px;}
.words03>h2>span{font-size:18px; color:#fe294d;}
.words03 .fukuan{width:120px; height:40px; background:#fe294d; border:none; margin-left:60px; margin-top:14px; text-align:center; line-height:40px; color:#fff; font-size:16px; cursor:pointer;}

/*****footer***************************/ 
.footer01{width:100%; height:240px; background-color:#eee; margin-top:80px; min-width:1200px;}
.footerBox{width:1200px; height:320px; margin:0 auto; overflow:hidden;}
.footerBox>img{width:188px; height:60px; float:left; margin-top:58px; margin-left:100px;}
.footerCon01{float:left; width:140px; height:240px;}
.foot01{width:140px; height:140px; margin-top:60px;}
.footerCon01>ul>li{margin-top:20px; margin-left:70px;}
.footerCon01 span{font-size:16px; font-family:"微软雅黑", "宋体", "黑体";}
.footerCon01>ul>li>a{color:#333; font-size:12px; font-family:"宋体","微软雅黑",  "黑体";}
.footerCon02{float:left; width:140px; height:240px;}
.foot02{width:140px; height:140px; margin-top:60px;}
.footerCon02>ul>li{margin-top:20px; margin-left:70px;}
.footerCon02 span{font-size:16px; font-family:"微软雅黑", "宋体", "黑体";}
.footerCon02>ul>li>a{color:#333; font-size:12px; font-family:"宋体","微软雅黑",  "黑体";}
.footerCon03{float:left; width:140px; height:240px;}
.foot03{width:140px; height:140px; margin-top:60px;}
.footerCon03>ul>li{margin-top:20px; margin-left:70px}
.footerCon03 span{font-size:16px; font-family:"微软雅黑", "宋体", "黑体";}
.footerCon03>ul>li>a{color:#333; font-size:12px; font-family:"宋体","微软雅黑",  "黑体";}
.footerBox ul>li>a:hover{color:#fe294d;}
.footerCon04{float:left; width:140px; height:240px;}
.foot04{width:140px; height:140px; margin-top:60px;}
.footerCon04>ul>li{margin-top:20px; margin-left:70px}
.footerCon04 span{font-size:16px; font-family:"微软雅黑", "宋体", "黑体";}
.footerCon04>ul>li>a{color:#333; font-size:12px; font-family:"宋体", "微软雅黑", "黑体";}
.footerCon05{float:left; width:140px; height:240px;}
.foot05{width:140px; height:34px; margin-top:60px;}
.footerCon05>ul>li{margin-top:20px; margin-left:70px;}
.footerCon05 span{color:#333; font-size:16px; font-family:"微软雅黑", "宋体", "黑体";}
.footerCon05 span:hover{color:#fe294d;}
.erWeiMa{width:80px; height:80px; background:url(../images/erweima.jpg) center no-repeat; margin:0 60px;}
.footer02{width:100%; height:60px; min-width:1200px; background-color:#dcdcdc; font-size:16px; text-align:center; line-height:60px;}
.footer02>p{margin:0 auto; padding-top:10px; width:1000px; font-size:14px; text-align:center; line-height:22px; font-family:"微软雅黑", "宋体", "黑体";}
